
<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li><a href="/">Inicio</a></li>
        <li><a href="movies">Movies</a></li>
        <li><a href="series">Series</a></li>
        <li><a href="documentary">Documentary</a></li>
    </ul>
</nav>