
    <!-- Post -->
    <section class="post text-center">
        <header class="major">
            <h1>El mundo en tu pantalla</h1>
        </header>

        <h2>Qué encontrarás.</h2>
        <div class="box">
            <p>¿Te apasiona el cine y las series? ¿Quieres compartir tus opiniones y recomendaciones con otros fans? ¿Quieres estar al día de los últimos estrenos y novedades? Entonces esta página web es para ti. Aquí podrás crear tu propia lista de películas, series y documentales favoritos, ver las valoraciones y comentarios de otros usuarios, participar en foros y debates sobre tus géneros y actores preferidos, y descubrir nuevas propuestas que te sorprenderán. Además, tendrás acceso a noticias, trailers, entrevistas y críticas de los expertos sobre lo más destacado del mundo audiovisual. No esperes más y únete a nuestra comunidad de cinéfilos y seriéfilos. ¡Te esperamos!</p>
        </div>


        <div id="carouselExampleFade" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag("cielo.jpg", alt: "...", class:"d-block w-100") %>
                    <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <%= image_tag("amelie.jpg", alt: "...", class:"d-block w-100") %>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <%= image_tag("viejo-oeste.jpg", alt: "...", class:"d-block w-100") %>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" style="top:50%" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" style="top:50%" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>





    </section>



<!-- Copyright -->
<div id="copyright">
    <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
</div>

